@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   font-size: 16px;
}

body {
   font-family: "Open Sans", sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

.loader {
   display: inline-block;
   width: 80px;
   height: 80px;
}
.loader:after {
   content: " ";
   display: block;
   width: 50px;
   height: 50px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid rgb(16 185 129);
   border-color: rgb(16 185 129) transparent rgb(16 185 129) transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
